################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Apresentacao/bin/Debug/netcoreapp2.2
/Apresentacao/obj
